@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #2fc3f8;
  --color-primary-100: #dbf5ff;
  --color-primary-200: #0088ff;
  --color-primary-300: #0046ff;
  --color-primary-400: #003ad4;

  --color-secondary: #323232;
  --color-secondary-100: #c5c5c5;
  --color-secondary-200: #f9f9f9;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --text-max-60: clamp(25px, 5vw, 60px);

  --breakpoint-ipad: 992px;
}

@utility wrapper {
  @apply mx-auto w-full max-w-7xl px-5;
}

@utility transition-300 {
  @apply transition-all duration-300 ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: #323232;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #ffffff;
  color: #323232;
  font-family: "Plus Jakarta Sans", sans-serif;
}
