@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #2fc3f8;
  --color-primary-100: #dbf5ff;
  --color-primary-200: #0088ff;
  --color-primary-300: #0046ff;
  --color-primary-400: #003ad4;

  --color-secondary: #323232;
  --color-secondary-100: #c5c5c5;
  --color-secondary-200: #f9f9f9;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --text-max-60: clamp(48px, 3vw + 1rem, 60px);
  --text-max-45: clamp(36px, 2vw + 1.25rem, 45px);
  --text-max-40: clamp(32px, 2vw + 1rem, 40px);
  --text-max-36: clamp(28px, 1.5vw + 1rem, 36px);
  --text-max-28: clamp(24px, 1vw + 1rem, 28px);
  --text-max-24: clamp(20px, 1vw + 0.75rem, 24px);
  --text-max-20: clamp(16px, 1vw + 0.5rem, 20px);

  --breakpoint-ipad: 992px;

  --animate-marquee: 20s linear infinite marquee;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@utility wrapper {
  @apply mx-auto w-full max-w-7xl px-5;
}

@utility transition-300 {
  @apply transition-all duration-300 ease-in-out;
}

:root {
  --background: #ffffff;
  --foreground: #323232;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #ffffff;
  color: #323232;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.6;
}
